<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<div th:fragment="sorting(field, label)">
    <th scope="col">
        <a  th:href="@{'/' + ${pageName} + '?' + ${keyword != null && keyword != ''? 'keyword=' + keyword + '&' : ''}
                + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                + ${sortField!=null ? '&sort=' + field + ',' + (sortField == field ? reverseSortDirection : sortDirection) : ''}}">
            [[${label}]]
        <span th:if="${sortField == field}"
              th:class="${sortDirection == 'asc' ? 'fas fa-arrow-down-short-wide' : 'fas fa-arrow-down-wide-short'}"></span>
        </a>
    </th>
</div>
</body>
</html>