<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bug List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <link th:rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">

    <style>
        body {
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px">


<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-5 mb-md-7">
                <br>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-bugs"></i> Issues/Bugs</li>
                    </ol>
                </nav>
                <br>
                <!--            message attribute-->
                <div th:if="${message != null}"
                     class="alert alert-warning alert-dismissible fade show text-center message"
                     role="alert">
                    [[${message}]]
                    <a class="btn" href="/bugs" type="button">
                        <i class="fa fa-close"></i></a>
                </div>
                <!--searching and page size forms-->
                <div class="my-3">
                    <div class="row d-lg-flex">
                        <div class="col-md-9 mt-2" style="padding:0px">
                            <!--                            search by keyword form-->
                            <form th:action="@{/bugs}" id="searchKeyword">
                                <div class="input-group">
                                    <div class="col-md-6 search">
                                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                                               class="form-control"
                                               placeholder="Enter keyword">
                                    </div>
                                    <div class="row-col-md-3" style="padding:0px">
                                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                    <br>
                                    <!--                                    clear search button-->
                                    <div class="d-grid gap-2 d-md-block">
                                        <a class="btn btn-info" href="/bugs" type="button">
                                            <i class="fa fa-refresh"></i>Clear Search</a>
                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="col-md-3 mt-2" style="padding:0px">
                            <!--                            items per page form-->
                            <form th:action="@{/bugs}" id="itemsPerPage">
                                <div class="input-group">
                                    <label class="input-group-text" for="pageSize">Items per page:</label>
                                    <select form="itemsPerPage" name="pageSize" th:value="${pageSize}"
                                            onchange="changePage()"
                                            class="size-select" id="pageSize">
                                        <option th:each="s : ${pageSizesList}" th:text="${s}"
                                                th:value="${s}"
                                                th:selected="${s} == ${pageSize}"></option>
                                    </select>
                                    <div class="col-md-4" style="padding:0px">
                                        <button type="submit" class="btn btn-secondary"><i class="fa fa-table"></i>
                                            Show Items
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <br>

            <!--            Create new bug Button-->
            <div class="d-grid gap-2 d-md-block" style="padding-top: 1%; padding-bottom: 1%">
                <a class="btn btn-outline-success" href="/bugs/createBug" type="button"><i
                        class="fa-solid fa-plus-circle"></i>Create New Bug/Issue</a>
            </div>
            <br>

            <!--table-->
            <!--            check for sorting-->
            <div th:if="${bugList.size() > 0}">
                <table id="bugList" class="table table-bordered table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th style="text-align: center;" th:replace="~{fragments/sorting :: sorting('id', 'ID')}"></th>
                        <th style="text-align: center;"
                            th:replace="~{fragments/sorting :: sorting('title', 'TITLE')}"></th>
                        <th style="text-align: center;"
                            th:replace="~{fragments/sorting :: sorting('description', 'DESCRIPTION')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('status', 'STATUS')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('priority', 'PRIORITY')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('createdDate', 'CREATED')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('dueDate', 'DUE DATE')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('modifiedDate', 'MODIFIED')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('reporter', 'REPORTER')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('assignee', 'ASSIGNEE')}"></th>
                        <th style="text-align: center"
                            th:replace="~{fragments/sorting :: sorting('project', 'PROJECT')}"></th>
                        <th style="text-align: center">FILES</th>
                        <th style="text-align: center; width: 10%">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bug : ${bugList}">
                        <td style="text-align: center;width: 3%" th:text="${bug.id}">ID</td>
                        <td style="text-align: center; width: 6%" th:text="${bug.title}">TITLE</td>
                        <td style="text-align: center; max-width: 20px; text-wrap: normal; word-wrap: break-word" th:text="${bug.description}">DESCRIPTION</td>
                        <td style="text-align: center; width: 6%">
                            <div th:switch="${bug.status}">
                                    <span th:case="${bug.status.RESOLVED}" style="color: green"
                                          th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.OPEN}" style="color: blueviolet"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.POSTPONED}" style="color: darkgrey"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.IN_PROGRESS}" style="color: darkorange"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.NOT_STARTED}" style="color: darkblue"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.CANCELLED}" style="color: deeppink"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.NOT_A_BUG}" style="color: black"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.NOT_AN_ISSUE}" style="color: saddlebrown"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.TO_BE_TESTED}" style="color: rebeccapurple"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.REVIEWING}" style="color: red"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                                <span th:case="${bug.status.CLOSED}" style="color: darkslategray"
                                      th:text="${bug.status.getDisplayLabel()}"></span>
                            </div>
                        </td>

                        <td style="text-align: center; width: 5%">
                            <div th:switch="${bug.priority}">
                                    <span th:case="${bug.priority.SEVERE}" class="btn btn-dark btn-block disabled"
                                          th:text="${bug.priority.getDisplayLabel()}"></span>
                                <span th:case="${bug.priority.HIGH}" class="btn btn-danger disabled"
                                      th:text="${bug.priority.getDisplayLabel()}"></span>
                                <span th:case="${bug.priority.MEDIUM}" class="btn btn-warning disabled"
                                      th:text="${bug.priority.getDisplayLabel()}"></span>
                                <span th:case="${bug.priority.LOW}" class="btn btn-info disabled"
                                      th:text="${bug.priority.getDisplayLabel()}"></span>
                            </div>
                        </td>
                        <td style="text-align: center; width: 8%"
                            th:text="${#temporals.format(bug.createdDate, 'dd/MM/yyyy HH:mm')}">CREATED
                        </td>
                        <td style="text-align: center; width: 7%"
                            th:text="${#dates.format(bug.dueDate, 'dd/MM/yyyy')}">
                            DUE DATE
                        </td>
                        <td style="text-align: center; width: 8%"
                            th:text="${#temporals.format(bug.modifiedDate, 'dd/MM/yyyy HH:mm')}">MODIFIED
                        </td>
                        <td style="text-align: center;width: 6%" th:text="${bug.reporter.username}">Reporter</td>
                        <td style="text-align: center;width: 6%" th:text="${bug.assignee.username}">Assignee</td>
                        <td style="text-align: center;width: 6%" th:text="${bug.project.projectName}">Project</td>
                        <!--                        attachment column-->

                        <div class="btn-group-sm" style="width: 2%">
                            <td style="text-align: center; width: 3%">
                                <div class="badge" style="position: relative">
                                    <span th:if="${bug.bugAttachments.size() > 0}">
                                        <a th:href="@{/bugs/{id}/files(id=${bug.id})}"
                                           class="btn btn-light btn-sm" type="button" style="margin:5px;">
                                            <i class="fa-solid fa-paperclip"></i>
                                        <span class="icon-badge"
                                              style="background-color: crimson; border-radius: 50%;text-align: center;
                                              color: white; font-size: 12px; width: 15px; height:17px; position: absolute"
                                              th:text="${bug.getBugAttachments().size()}">6</span>
                                        </a>
                                    </span>
                                    <span th:unless="${bug.bugAttachments.size() > 0}">
                                        <a th:href="@{/bugs/{id}/files(id=${bug.id})}"
                                           class="btn btn-light btn-sm" type="button" style="margin:5px;">
                                            <i class="fa-solid fa-paperclip"></i>
                                        </a>
                                    </span>
                                </div>

                            </td>
                        </div>
                        <!--                        </div>-->
                        <!--                        actions-->
                        <div class="btn-group-lg" style="width: 8%">
                            <td style="text-align: center; width: 10%">
                                <div class="badge" style="position: relative">
                                    <span th:if="${bug.getBugComments().size() > 0}">
                                        <a th:href="@{/bugs/{id}/comments(id=${bug.id})}"
                                           class="btn btn-light btn-sm" type="button" style="margin:5px;">
                                        <i class="fa-solid fa-comments"></i>
                                        <span class="icon-badge"
                                              style="background-color: crimson; border-radius: 50%;text-align: center;
                                              color: white; font-size: 12px; width: 15px; height:17px; position: absolute"
                                              th:text="${bug.getBugComments().size()}">6</span>
                                        </a>
                                    </span>
                                    <span th:unless="${bug.getBugComments().size() > 0}">
                                        <a th:href="@{/bugs/{id}/comments(id=${bug.id})}"
                                           class="btn btn-light btn-sm" type="button" style="margin:5px;">
                                        <i class="fa-solid fa-comments"></i>
                                        </a>
                                    </span>
                                </div>

                                <a th:href="@{/bugs/edit/{id}(id=${bug.id})}"
                                   class="btn btn-warning btn-sm" type="button" style="margin:2px;"> <i
                                        class="fa-solid fa-pen"></i>
                                </a>

                                <a th:href="@{/bugs/delete/{id}(id=${bug.id})}"
                                   class="btn btn-danger btn-sm" type="button" style="margin:2px;"> <i
                                        class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>

                <!--                    if no bugs found-->
                <div>
                    <div class="" th:unless="${bugList.size() > 0}">
                        <span>No bugs found!</span>
                    </div>
                </div>
            </div>
        </div>

        <!--            paging-->
        <nav aria-label="Pagination" th:if="${totalPages > 1}">
            <ul class="pagination justify-content-center">
                <li class="page-item font-weight-bold" style="font-style: italic;">Total Records: [[${totalItems}]]</li>&nbsp;&nbsp;

                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}"></a>
                </li>
                <li class="page-item font-weight-bold">
                    <a th:insert="${currentPage > 2} ? ~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')} : ~{fragments/paging :: paging(1, 'Prev', 'Previous Page') }"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1  , currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold">
                    <!--                            insert proper fragment based on the condition-->
                    <a th:insert=" ${currentPage < totalPages} ? ~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')} : ~{fragments/paging :: paging(${totalPages},'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
                </li>

            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // ...

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/bugs}]]";
        });
    });

    function changePage() {
        $("#itemsPerPage").submit();
    }

</script>
</body>
</html>
