<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Task Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link th:rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
<!--    <link type="text/css" th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>-->
<!--    <link type="text/css" th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>-->
<!--    <link type="text/css" th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.1/css/font-awesome.min.css}"/>-->
<!--    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">-->

    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"-->
    <!--        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="-->
    <!--        crossorigin="anonymous" referrerpolicy="no-referrer" />-->



</head>
<body>

<div layout:fragment="content">
    <div class="container-lg">
        <!--  mt -  margin top-->
        <div class="row mt-5">
            <!--    back button-->
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-outline-warning" href="/users" type="button">
                    <i class="fa fa-arrow-left"></i>Back</a>
            </div>
            <br>
            <br>
            <!--    Form-->
            <div class="col-6 mt-5 mx-md-3">
                <h2>Add New User</h2>
                <br>
                <form action="#" th:action="@{/users/submitNewUser}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="firstname"> Title</label>
                        <input class="form-control" type="text" th:field="*{firstname}" id="firstname" placeholder="First Name">
                        <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                    </div>
                    <br>
                    <!--        <div class="form-group">-->
                    <!--          <label for="description"> Description</label>-->
                    <!--          <textarea class="form-control" type="text" rows="2" id="description" placeholder="Description"-->
                    <!--                    th:field="*{description}" autocomplete="off"></textarea>-->
                    <!--            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>-->
                    <!--        </div>-->
                    <!--        <br>-->
                    <div class="form-group">
                        <label for="status"> Status</label>
                        <select class="form-control" id="status" th:field="*{status}">
                            <!--            th:value="${statusValue.name()}"-->
                            <option th:each="statusValue : ${T(com.project.itservicedesk.models.TaskStatus).values()}"
                                    th:value="${statusValue}"
                                    th:text="${statusValue.getDisplayLabel()}">Status</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="priority"> Priority</label>
                        <select class="form-control" id="priority" th:field="*{priority}">
                            <option th:each="priorityValue : ${T(com.project.itservicedesk.models.PriorityStatus).values()}"
                                    th:value="${priorityValue}"
                                    th:text="${priorityValue.getDisplayLabel()}">Priority</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <div>
                            <input type="date" class="form-control" id="dueDate" th:field="*{dueDate}" />
                            <div style="color:red" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="createdBy">CREATOR</label>
                        <div>
                            <input type="text" class="form-control" id="createdBy" th:field="*{createdBy}" />
                            <div style="color:red" th:if="${#fields.hasErrors('createdBy')}" th:errors="*{createdBy}"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="assignedTo">ASSIGNEE</label>
                        <div>
                            <input type="text" class="form-control" id="assignedTo" th:field="*{assignedTo}" />
                            <div style="color:red" th:if="${#fields.hasErrors('assignedTo')}" th:errors="*{assignedTo}"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="projectName">PROJECT</label>
                        <div>
                            <input type="text" class="form-control" id="projectName" th:field="*{projectName}" />
                            <div style="color:red" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}"></div>
                        </div>
                    </div>
                    <br>


                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>



<!--<script type="text/javascript" th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" defer></script>-->


</body>
</html>