<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Task Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link th:rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">


</head>
<body>

<div layout:fragment="content">
    <div class="container-lg">
        <!--  mt -  margin top-->
        <div class="row mt-5">
            <!--    back button-->
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-outline-warning" href="/users" type="button">
                    <i class="fa fa-arrow-left"></i>Back</a>
            </div>
            <br>
            <br>
            <!--    Form-->
            <div class="col-6 mt-5 mx-md-3">
                <h2>Edit User Account</h2>
                <br>
                <form action="#" th:action="@{/users/edit/{id}(id=${id})}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label for="firstname"> First Name</label>
                        <input class="form-control" type="text" th:field="*{firstname}" id="firstname"
                               placeholder="First Name">
                        <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="lastname"> Last Name</label>
                        <input class="form-control" type="text" th:field="*{lastname}" id="lastname"
                               placeholder="Last Name">
                        <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="username"> Username</label>
                        <input class="form-control" type="text" th:field="*{username}" id="username"
                               placeholder="Username">
                        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="email"> Email</label>
                        <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
                        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <br>
                    <div class="form-group" >

                        <input  type="hidden" th:field="*{password}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="roles"> Roles (hold SHIFT to select multiple)</label>
                        <select class="form-control" id="roles" th:field="*{roles}" multiple="multiple">
                            <option th:each="role : ${listOfRoles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">Role
                            </option>
                        </select>

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="projects"> Projects (hold SHIFT to select multiple)</label>
                        <select class="form-control" id="projects" th:field="*{projects}" multiple="multiple">
                            <option th:each="project : ${listOfProjects}"
                                    th:value="${project.id}"
                                    th:text="${project.projectName}">Role
                            </option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Is User Active? </label>
                        <input type="checkbox" name="active" th:checked="${user.get().isActive}" th:field="*{isActive}"/>


                    </div>

                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>