<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{fragments/header :: header}">
  <title>Header</title>
<!--  <style>-->
<!--    body{-->
<!--      padding:0px;-->
<!--      margin:0px;-->
<!--    }-->
<!--  </style>-->
</head>

<body >

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container-fluid" id="mainContent" style="margin: 0px;padding: 0px;">

  <div class="row">
    <div class="col-md-1">
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    </div>

    <div class="col-md-12" style="padding: 0px">
      <div layout:fragment="content" class="container-fluid" style="margin: 0px; padding-left: 12%"></div>
    </div>


  </div>
</div>
<br>
<br>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>