<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Website is under construction ....</title>
    <meta charset="UTF-8">
    <meta name="description" content="Coming soon template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="align-content: center; background: #2b7575;">
<div style="text-align: center; align-items: center; padding-top: 50px">
    <img style="border-radius:50px;background-color:#338e8e;box-shadow: #2e6565 5px 5px 10px;" th:src="@{/images/construction.png}" >
    <p style="font-size: 24px;font-weight: 400;color: #fff;">The website is <a style="font-size: 24px;font-weight: 100;color: #fef9b5;line-height:0.75em;">under construction.</a></p>
    <p style="color: papayawhip; font-size: large">Kindly visit after some time.&nbsp;<strong> Thank You!</strong></p>
    <p></p>
    <p><a style="color: goldenrod; font-weight: bold;" href="/">Please, go back this way.</a></p>
</div>

</body>
</html>